{% extends "base.html" %}

{% block content %}

    <table style="width:100%">
        <thead>
            bish watchu want
        </thead>
        <tbody> <!-- start for loop -->
            <tr>
                <td>
                    <!-- icon | name | address | rating | busy-ness | favorite -->
                    <!-- icon -->
                    <!-- name/address -->
                    <!-- rating/busy-ness -->
                    <!-- favorite -->
                </td>
            </tr>
            <!-- end for loop -->
        </tbody>
    </table>

{% endblock content %}